/* MathExam.css
    By Bryce Fisher, bryce.fisher@inbox.com
	Last Updated: March 10, 2010
	Styles a math quiz app for www.learn-with-math-games.com */

/* State 1 * User Selected Parameters **************************************************************************************/
#mathexam {margin:20px 0;}
#mathexam h2 {text-align:center;}
#mathexam #operator, #mathexam #facts, #mathexam #numofquestions {list-style: none; margin: 0; padding: 5px 10px 5px 45px; width: 360px; background:#9ed2aa;}
#mathexam #paramnav {list-style:none; height:26px; margin: 0; padding:0; font-size:11px; width:400px}
#mathexam #paramnav li {width:132px; height:20px; float:left; padding:3px 0; text-align:center; background: url('http://github.com/brycefisher/Mathexam/raw/master/mathexam-tab.gif') no-repeat top left; margin:0 1px 0 0;}
#mathexam #paramnav .active {background: url('http://github.com/brycefisher/Mathexam/raw/master/mathexam-tab-active.gif') no-repeat top left;}
#mathexam #paramnav .active a { text-decoration: none; font-weight:bold; color: #000; }

#mathexam #operator {height:85px;}
#mathexam #operator a {width: 69px; height: 69px; float: left; text-decoration: none; line-height:69px; font-size:32px; text-align: center; border:solid 1px #000; color:#000; margin:5px;}
#mathexam #operator a:hover {background:#ddd; color:#00e; font-size:400%; border-color: #00e;}

#mathexam #facts {height:245px;}
#mathexam #facts li {width: 69px; height: 69px; line-height:69px; text-align: center; float:left; margin: 5px; border:solid 1px #000; color:#000; font-size:150%; position: relative;}
#mathexam #facts li:hover {background:#ddd; color:#00e; border-color: #00e;}
#mathexam #facts input {display:none;} 
#mathexam #facts label {display: block; height:100%;}
#mathexam #facts li.selected {background: #0aa282; color:#fff;}
#mathexam #beginbutton {clear:left; position: relative; left: 45%; top: 1em;}

#mathexam #numofquestions {height:165px}
#mathexam #numofquestions li {display: inline;}
#mathexam #numofquestions li a {width: 69px; height: 69px; line-height: 69px; padding:0; float:left; margin: 5px; border:solid 1px #000; color:#000; font-size:150%; text-align: center; text-decoration: none;}
#mathexam #numofquestions li a:hover {background:#ddd; color:#00e; border-color: #00e;}
#mathexam #numofquestions li a:visited {color: inherit;}

/* State 2 * Showing the questions ****************************************************************************************/
#mathexam #questionlist li {height: 1em; position: relative; margin:0;}
#mathexam #questionlist p {width:7em; padding-top:1px; text-align:right;}
#mathexam #questionlist {list-style:none; padding:0;}
#mathexam #questionlist p em {position:absolute; top:0; left:0; font-size:125%; font-weight:bold; font-style:normal; padding:0;}
#mathexam #questionlist input {position: absolute; top:0; left: 7em; width:3em;}
#mathexam #questionlist span {position: absolute; top:0; left: 11.5em;}

/* State 3 * Checking the answers *****************************************************************************************/
#mathexam .incorrect {color: red; font-weight:bold;}
#mathexam .correct {color: green; font-weight:bold;}